.Layout {
    transition: 1.5s ease-in-out;
}

.scroll {
    grid-template-columns: 5% 95%;
    height: 100vh;
    padding-top: 10vh;
}

.unScroll {
    grid-template-columns: 20% 80%;
    height: 100vh;
    padding-top: 10vh;
}